<div class="form-center">
    <form class="form-login">
        <h2>Login</h2>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)] = "user.name" name="name">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)] = "user.pass" name="pass">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="align-right checkbox">
            <mat-checkbox>Recordar</mat-checkbox>
        </div>

        <button mat-raised-button (click)="login()" class="full-width" color="accent">Acceder</button>
    </form>
</div>